.container {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
}
.videos {
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    &__h2 {
        font-size: max(3rem, 1vw);
        text-align: center;
        // margin-left: 2rem;
        color: white;
        @media(max-width:650px){
            font-size: max(2rem, 1vw);
            letter-spacing: 1rem;
            // margin-top: 0;
            // margin-bottom: 0;
        } 
    }

    &__h3 {
        text-align: center;
        font-size: 1.8rem;
        margin-bottom: 0;
        margin-top: 0.5rem;
        @media(max-width: 650px){
            font-size: 1.5rem;
        }
    }

    &__p {
        text-align: center;
        margin: 0;
        
        @media(max-width: 650px){}
    }

    &__item { 
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.2rem;
        margin-bottom: 1rem;
        padding: 0;
        @media(max-width:650px){
            margin: 1rem 0;
            } 
        &__vid {
            width: 640px;
            height: 360px;
            z-index: 2;
            @media(max-width:650px){
            width: 420px;
            height: 240px;
            } 
            @media(max-width:520px){
                width: 380px;
                height: 210px;
            }    
            @media(max-width:420px){
                width: 280px;
                height: 170px;
            }
            @media(max-width:320px){
                width: 200px;
                height: 120px;
            }  
        }
    }
}
